<div id="player">
    <label>{{ algorithmId }}</label><br />
    <div><button id="run" (click)="backward()">(<<)</button>
    <button id="run" (click)="play()">(>)</button>
    <button id="run" (click)="stop()">(||)</button>
    <button id="run" (click)="forward()">(>>)</button></div>
    
</div>
<div id="algorithms">
    8 <input type="checkbox" [(ngModel)]="isUsingDiagonal" (change)="disableJPS()"><br />
    <div *ngFor="let option of algorithmList; index as i">
        <input type="radio" [id]="option[0]" [value]="option[0]" [(ngModel)]="algorithmId" [attr.selected]="i == 0 ? true : null" />
        <label>{{ option[1] }}</label>
    </div>
</div>