
<div id="algorithms">
    <div class="diagonal">
        <label class="switch">
            <input class="diagonal" type="checkbox" [(ngModel)]="isUsingDiagonal">
            <span class="slider"></span>
        </label>
        <label class="text">Diagonal</label>
    </div>
    <div class="algorithm">
        <label class="container" *ngFor="let option of algorithmList; index as i">
            <input type="radio" [id]="option[0]" [value]="option[0]" [(ngModel)]="algorithmId"
                [attr.selected]="i == 0 ? true : null" />
            <span>{{ option[1] }}</span>
        </label>
    </div>
</div>
<div id="player">
    <div class="controls">
        <input type="button" class="forward" (click)="forward()">
        <input type="button" class="play" (click)="play()">
        <input type="button" class="stop" (click)="stop()">
        <input type="button" class="backward" (click)="backward()">
    </div>
</div>