<div id="panel">
    <div id="settings">
        <div class="element-grid">
            <div class="element-line"><label>Параметры поля:</label></div>
            <div class="element-line"><label>Размер клетки: </label>
                <input type="number" placeholder="h" id="fieldH" step=10 min=10 value="{{heightOfCell}}">
            </div>
            <div class="element-line"><label>Ширина: </label>
                <input type="number" placeholder="rows" id="fieldR" min=10 value="{{workField[0]}}">
            </div>
            <div class="element-line"><label>Высота: </label>
                <input type="number" placeholder="colums" id="fieldC" min=10 value="{{workField[1]}}">
            </div>
            <button (click)="redrawField()">нарисовать</button>
        </div>
        <div class="element-points">
            <div class="element-line"><label>Точка старта</label>
                <input type="number" placeholder="y" id="startY" min=1 value="{{startPoint[1]}}">
                <input type="number" placeholder="x" id="startX" min=1 value="{{startPoint[0]}}">
            </div>
            <div class="element-line"><label>Точка финиша</label>
                <input type="number" placeholder="y" id="finishY" min=1 value="{{finishPoint[1]}}">
                <input type="number" placeholder="x" id="finishX" min=1 value="{{finishPoint[0]}}">
            </div>
        </div>
    </div>
    <alg [gridData]="grid"></alg>
</div>