<div class="controls">
    <button mat-stroked-button (click)="backward()"><span class="backward"></span></button>
    <button mat-stroked-button (click)="play()"><span class="play"></span></button>
    <button mat-stroked-button (click)="stop()"><span class="stop"></span></button>
    <button mat-stroked-button (click)="forward()"><span class="forward"></span></button>
</div>
<div class="algorithm">
    <mat-button-toggle-group name="algorithm" [(value)]="algorithmId" #group="matButtonToggleGroup">
        <mat-button-toggle *ngFor="let option of algorithmList; index as i" [(value)]="option[0]">{{ option[1] }}
        </mat-button-toggle>
    </mat-button-toggle-group>
    <mat-slide-toggle color="primary" [(ngModel)]="isUsingDiagonal">использовать диагонали</mat-slide-toggle>
</div>